body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  width: 1460px;
  height: 700px;
  margin-top: 10px;
  margin-left: 10px;
}

#main {
  float: left;
  width: 1110px;
}

#sidebar {
  float: right;
  width: 350px;
}

#sequence {
  width: 1110px;
  height: 70px;
}

#sequence text, .label {
  font-weight: 400;
  fill: white;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 260px;
  left: 475px;
  width: 150px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 3.1em;
}
